@charset "utf-8";
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
}
.input-container {
    margin-top: 30px;
}
.checkbox {
    
}
.container {
    width: 90%;
    max-width: 1300px;
    padding: 20px;
    margin: 0 auto 30px;
    background-color: rgb(241, 241, 241);
}
.banner {
    background-image: url(./images/backgrounds/soccer.jpg);
    background-size: cover;
    background-position: top left;
    width: 100%;
    height: 400px;
    display: block;
    position: relative;
}
.headline {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgb(238, 211, 138);
}
.product-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px; 
    margin: 40px auto 0;
}
.product-item {
    transition: 0.4s;
}
.product-item:hover {
    opacity: 0.7;
}
.product-image {
    width: 100%;
    display: block;
}
.product-name {
    margin: 0;
    padding: 0;
    height: 40px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}

/* product page  */
.product-page {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
}
.prev-page-container {
    
}
.prev-page {
    font-size: 30px;
    margin: 0;
    font-weight: bolder;
    cursor: pointer;
}
.product-page-container {
    width: 80%;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 10px 8px 10px #888888;
}
.product-page-container img {
    width: 100%;
    display: block;
}
.product-page-container .des {
    margin: 10px;
}
.Stock-true {
    color: rgb(219, 123, 123);
}
.stock-false {
    color: #88a2d1;
}
@media screen and (min-width: 600px) {
    .product-list {
        grid-template-columns: 1fr 1fr;
    }
    .container {
        width: 85%;
    }
    .product-page-container {
        width: 500px;
        height: 600px;
        margin: 0 auto;
        background-color: white;
        box-shadow: 5px 10px 8px 10px #888888;
    }

}
@media screen and (min-width: 900px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .container {
        width: 80%;
    }
    .product-name {
        font-size: 18px
    }
    .input-container {
        font-size: 24px;
    }
    .checkbox {
        transform: scale(1.5);
        margin-right: 10px;
    }
}
@media screen and (min-width: 1500px) {
    .product-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .container {
        width: 70%;
    }
}